<div class="form-horizontal form-label-left" id="donneesTraitement">
	<div class="form-group">
		<label class="control-label col-sm-1 col-xs-12">Diagramme</label>
		<div class="col-sm-8 col-xs-12">
			<div class="btn-group">
				<a *ngIf="valuesForChartMe || valuesForChartAll" href="#donneesTraitement" class="btn btn-primary" [(ngModel)]="chartType" btnRadio="doughnut">Donut</a>
				<a *ngIf="valuesForChartMe || valuesForChartAll" href="#donneesTraitement" class="btn btn-primary" [(ngModel)]="chartType" btnRadio="pie">Circulaire</a>
				<a *ngIf="valuesForChartMe || valuesForChartAll" href="#donneesTraitement" class="btn btn-primary" [(ngModel)]="chartType" btnRadio="polarArea">Polar Chart</a>
				<a *ngIf="valuesForBarChart" href="#donneesTraitement" class="btn btn-warning" [(ngModel)]="chartType" btnRadio="bar">Barres</a>
				<a *ngIf="valuesForBarChart" href="#donneesTraitement" class="btn btn-warning" [(ngModel)]="chartType" btnRadio="radar">Radar</a>
				<a *ngIf="valuesForBarChart" href="#donneesTraitement" class="btn btn-warning" [(ngModel)]="chartType" btnRadio="line">Lignes</a>
			</div>
		</div>

		<label class="control-label col-sm-1 col-xs-12">Agrégat</label>
		<div class="col-sm-2 col-xs-12">
			<select [(ngModel)]="aggregate"(change)="aggregateChange($event.target.value)" class="form-control">
				<option value="count">Nombre</option>
				<option value="mean">Moyenne</option>								
				<option value="sum">Somme</option>
				<option value="min">Minimun</option>
				<option value="max">Maximun</option>
				<option value="median">Médiane</option>
				<option value="stddev">Écart type</option>
				<option value="first">Premier élément</option>
				<option value="last">Dernier élément</option>
			</select>
		</div>
	</div>
</div>						
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_content">	
				<div *ngIf="!analyzeStarted" class="row">
					<div *ngIf="chartType=='doughnut'||chartType=='pie'||chartType=='polarArea'"  class="col-md-6 col-sm-6 col-xs-12">	
						<h2 style="text-align:center;">Moi</h2>
						<div class="row">
							<div class="col-sm-2 col-xs-12"></div>
							<div class="col-sm-8 col-xs-12">
								<div style="display:block; margin-left: auto; margin-right: auto; width:100%;">
									<canvas baseChart #ChartMe
										[data]="valuesForChartMe"
										[labels]="labels"
										[colors]="labelsColors"
										[chartType]="chartType"></canvas>
								</div>
							</div>
						</div>			
					</div>
					<div *ngIf="chartType=='doughnut'||chartType=='pie'||chartType=='polarArea'" class="col-md-6 col-sm-6 col-xs-12">
						<h2 style="text-align:center;">Autres utilisateurs</h2>						
						<div class="row">
							<div class="col-sm-2 col-xs-12"></div>
							<div class="col-sm-8 col-xs-12">
								<div style="display:block; margin-left: auto; margin-right: auto; width:100%;">
									<canvas baseChart #ChartAll
										[data]="valuesForChartAll"
										[labels]="labels"
										[colors]="labelsColors"
										[chartType]="chartType"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="chartType=='bar'||chartType=='radar'||chartType=='line'"  class="col-md-12 col-xs-12">			
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
							<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
								<div style="display:block; margin-left: auto; margin-right: auto; width:100%">
									<canvas baseChart #BarChart
										[datasets]="valuesForBarChart"
										[labels]="labels"
										[options]="{ scaleShowVerticalLines: false, responsive: true }"
										[chartType]="chartType"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!analyzeStarted" class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">Statistiques sur les données</div>
			<div class="panel-body">
				<div class="row">
					<table class="table table-striped">
					  <thead>
                        <tr>
                          <th>Agrégat</th>
                          <th>Statistiques sur mes données</th>
                          <th>Statistiques sur les données des utilisateurs</th>
                          <th>Tendance</th>
                        </tr>
                      </thead>
					  <tbody>
						<tr>
						  <th scope="row">Nombre</th>
						  <td>{{donnees.cozy.meta.count}}</td>
						  <td>{{donnees.engine.meta.count}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.count, donnees.cozy.meta.count)"></td>
						</tr>
						<tr>
						  <th scope="row">Moyenne</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.mean, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.mean, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.mean, donnees.cozy.meta.mean)"></td>
						</tr>
						<tr>
						  <th scope="row">Somme</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.sum, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.sum, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.sum, donnees.cozy.meta.sum)"></td>
						</tr>
						<tr>
						  <th scope="row">Minimun</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.min, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.min, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.min, donnees.cozy.meta.min)"></td>
						</tr>													
						<tr>
						  <th scope="row">Maximun</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.max, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.max, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.max, donnees.cozy.meta.max)"></td>
						</tr>
						<tr>
						  <th scope="row">Ecart type</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.stddev, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.stddev, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.stddev, donnees.cozy.meta.stddev)"></td>
						</tr>
						<tr>
						  <th scope="row">Premier élement</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.first, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.first, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.first, donnees.cozy.meta.first)"></td>
						</tr>
						<tr>
						  <th scope="row">Dernier élément</th>
						  <td>{{toDecimalHtml(donnees.cozy.meta.last, 3)}}</td>
						  <td>{{toDecimalHtml(donnees.engine.meta.last, 3)}}</td>
						  <td [innerHTML]="toPercentHtml(donnees.engine.meta.last, donnees.cozy.meta.last)"></td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>