<div class="page-title">
  <div class="title_left">
	<h3>Analyses</h3>
  </div>
</div>
<div class="clearfix"></div>	
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
			  <h2>Moteur de recherche</h2>
			  <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form class="form-horizontal form-label-left">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12 form-group">
							<label for="field">Type de donnée</label>
							<select (change)="fieldChange($event.target.value)" class="form-control" id="field">
								<!-- <option value="" disabled selected>Type de donnée</option> -->
								<optgroup *ngFor="let availableField of availableFields" label="{{ availableField.groupLabel }}">
									<option *ngFor="let item of availableField.items" value="{{ item.field }}">{{ item.label }}</option>
								</optgroup>
							</select>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 form-group">
							<label for="group">Regrouper les données par</label>						
							<select (change)="groupChange($event.target.value)" class="form-control" id="group">
								<!--<option value="" selected>Regrouper par</option>-->
								<option value="time">Temps</option>
								<option *ngFor="let item of availableGroupKeys[analyzeOptions.field]" value="{{ item.key }}">{{ item.label }}</option>
							</select>
						</div>
						<div *ngIf="analyzeOptions?.group == 'time'" class="col-md-3 col-sm-3 col-xs-12 form-group"> 
							<div class="row">
								<div class="col-xs-12">	
									<label for="groupTimeValue">Précision</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">								
									<input type="number" id="groupTimeValue" (change)="groupTimeValueChange($event.target.value)" min="1" max="365" value="1" class="form-control">
								</div>
								<div class="col-xs-8">
									<select (change)="groupTimeDurationChange($event.target.value)" class="form-control">
										<option value="h">heure</option>
										<option value="d">jour</option>
										<option value="w" selected>semaine</option>
										<option value="y">année</option>							
									</select>
								</div>
							</div>
						</div>
						<!--<div class="col-md-3 col-sm-3 col-xs-12 form-group"> 
							<select (change)="metakeyChange($event.target.value)" class="form-control">
								<option *ngIf="analyzeOptions?.field == undefined" value="" disabled selected>Metakey</option>
								<option *ngFor="let item of availableMetaKeys[analyzeOptions.field]" value="{{ item.key }}">{{ item.label }}</option>							
							</select>
						</div>-->						
					</div>
					
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="height:70px;">
							<div style="width: 60px; height: 70px;">
								<label class="control-label" style="width: 40px; margin-left: auto; margin-right: auto; position: relative; top: 50%; transform: translateY(-50%);">Période</label>
							</div>
							<div style="width: 92%; position: relative; top: -70px; margin-left: 70px;">
								<input type="text" id="period_slider" name="period_slider" value="" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 form-group">
							<button type="button" class="btn btn-primary" [disabled]="btnAnalyzeDisabled" (click)=getAnalyze() tooltip="{{ btnAnalyzeDescription }}" placement="right">{{ btnAnalyzeValue }}</button>
						</div>
					</div>
					<div *ngIf="serviceError != undefined" class="row">
						<div class="col-xs-6">
							<alert type="error" dismissible="true">{{ serviceError }}</alert>
						</div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>

<div *ngIf="analyzeResults" class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">			
			<donnees-traitement [donnees]="analyzeResults" [analyzeOptions]="analyzeOptions"></donnees-traitement>
		</div>
	</div>
</div>
<!--
<div>
	<h2>Données cozy - Données & Metadonnées</h2>
	<pre *ngIf="analyzeResults">{{ analyzeResults.cozy | json }}</pre>
</div>
<div>
	<h2>Données moteur</h2>
	<h2>Metadonnées</h2>
	<pre *ngIf="analyzeResults">{{ analyzeResults.engine.meta | json }}</pre>
	<h2>Données</h2>
	<pre *ngIf="analyzeResults">{{ analyzeResults.engine.data | json }}</pre>
</div>-->