<div class="page-title">
  <h3>Votre politique de partage de données</h3>
</div>
<div class="clearfix"></div>	
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
			  <h2>Autorisations de partage de données</h2>
			  <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-12" ></div>
					<div class="col-md-8 col-sm-8 col-xs-12" style="height:70px;">
						<div style="width: 120px; height: 70px; text-align: right;">
							<label class="control-label" style="position: relative; top: 50%; transform: translateY(-50%);">Niveau de partage</label>
						</div>
						<div style="position: relative; top: -70px; margin-left: 140px;">
							<input type="text" id="level_slider" name="level_slider" value="" />
						</div>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12" ></div>
				</div>
				<div class="row" style="margin-top: 10px; text-align:justify;">
					<div class="col-md-2 col-sm-2 col-xs-12"></div>
					<div id="level_details" class="col-md-8 col-sm-8 col-xs-12" >
						{{levelDescription}}
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12"></div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-12 col-sm-12 col-xs-12">					
						<div *ngFor="let cbSection of sharingPolicy; let section_i = index;">
							<span class="section">{{cbSection.label}}</span>
							<div class="row">
								<div *ngFor="let type of cbSection.types; let type_i = index;" class="col-sm-3 col-xs-6">
									<label><input type="checkbox" id="{{type.key}}"> {{type.label}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="row">
					<div class="col-md-offset-3">
						<button type="submit" (click)="save()" class="btn btn-success">Enregistrer</button>
						<div *ngIf="error != undefined || success != undefined" style="margin-left:110px;margin-top: -30px; margin-bottom:11px;">
							<i *ngIf="error != undefined" class="red">{{ error }}</i>
							<i *ngIf="success != undefined" class="green">{{ success }}</i>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
  </div>
