<div class="page-title">
  <h3>Votre politique de partage de données</h3>
</div>
<div class="clearfix"></div>	
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
			  <h2>Autorisations de partage de données</h2>
			  <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-12" ></div>
					<div class="col-md-8 col-sm-8 col-xs-12" style="height:70px;">
						<div style="width: 120px; height: 70px; text-align: right;">
							<label class="control-label" style="position: relative; top: 50%; transform: translateY(-50%);">Niveau de partage</label>
						</div>
						<div style="position: relative; top: -70px; margin-left: 140px;">
							<input type="text" id="level_slider" name="level_slider" value="" />
						</div>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12" ></div>
				</div>
				<div class="row" style="margin-top: 10px; text-align:justify;">
					<div class="col-md-2 col-sm-2 col-xs-12"></div>
					<div id="level_details" class="col-md-8 col-sm-8 col-xs-12" >
						{{levelDescription}}
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12"></div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<span class="section">Humeur</span>
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > Humeur</label>
							</div>
						</div>
						<span class="section">Consommation</span>
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > EDF</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > Direct Energie</label>
							</div>
						</div>
						<span class="section">Factures</span>
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<!-- <label *ngFor="let cb of checkboxes">
									<input type="checkbox" [(ngModel)]="cb.chosen">{{cb.label}}
								</label> -->
								<label><input type="checkbox" name="quux[1]" > Numericable</label><br>										
								<label><input type="checkbox" name="quux[1]" > Bouygues Box</label><br>											
								<label><input type="checkbox" name="quux[1]" > Free</label><br>										
								<label><input type="checkbox" name="quux[1]" > Orange</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > Free Mobile</label><br>
								<label><input type="checkbox" name="quux[1]" > Sfr mobile</label><br>
								<label><input type="checkbox" name="quux[1]" > Sosh</label><br>								
								<label><input type="checkbox" name="quux[1]" > Virgin mobile</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > Voyages SNCF</label><br>
								<label><input type="checkbox" name="quux[1]" > APRR</label><br>										
								<label><input type="checkbox" name="quux[1]" > Ameli</label><br>	
								<label><input type="checkbox" name="quux[1]" > Github</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]" > Materiel.net</label><br>									
								<label><input type="checkbox" name="quux[1]" > vente-privee.com</label><br>
								<label><input type="checkbox" name="quux[1]" > Darty</label>										
							</div>
						</div>
						<span class="section">Données bancaires</span>
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]"> Caisse d'Epargne</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]"> Crédit Agricole</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]"> Crédit Mutuel</label>
							</div>
							<div class="col-sm-3 col-xs-6">
								<label><input type="checkbox" name="quux[1]"> LCL</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
  </div>
